@charset "UTF-8";
body{
    background: url(http://mymaplist.com/img/parallax/pinlayer1.png) no-repeat center center fixed;
	background-color: #444;
    background: url("/resources/images/광화문.jpg") no-repeat center center fixed;    
      -webkit-background-size: auto auto;
      -moz-background-size: auto auto;
      -o-background-size: auto auto;
      background-size: auto auto;
}

.vertical-offset-100{
    padding-top:100px;
}
